body {
  margin: 0;
  font-family: "fira code";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* * App component */

.App {
  text-align: center;
  border: 1px solid black;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  transform: skew(-20deg);
  background: linear-gradient(to right, #50c9c3, #96deda);
  /* color: w */
}

/* * Menu container */

.menu-container{
  width :  40%;
  border:2px solid black;
  margin : auto;
  margin-top : 100px;
  display:flex;
  justify-content : space-evenly;
  align-items:center;
  transform: skew(20deg);
}

.menu-container h4{
  text-align:center;
  transform: skew(-20deg);
}
.menu-container select{
  text-align:center;
  transform: skew(-20deg);
}

/* * Tool Tip sections */

/* * Top Section */

.top-container {
  /* border: 2px solid red; */
  width: 15%;
  margin: auto;
  margin-top: 70px;
  height: auto;
  text-align: center;
}



.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.social-icon-container {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  position: relative;
}

.social-icon {
  position: relative;
  top: 15px;
  font-size: 45px;
}

#facebook,.tooltip-facebook{
  background-color: #3b5a9b;
}

.social-icon {
  color: white;
}

/* * Tooltip */
.top-tooltip {
  position: absolute;
  top: -55px;
  left:-10px;
  /* border: 2px solid black; */
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 0.5em 0 0 0;
  color: white;
  /* opacity: 0; */
  /* background-color: black */
  z-index: 2;
}

.top-tooltip::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 35px;
  width: 0.5px;
  height:0.5px;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  padding: 0.5em 0 0 0;
  color: white;
  opacity : 1;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}

.left-tooltip {
  position: absolute;
  top:20px;
  left:-120px;
  /* border: 2px solid black; */
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 0.5em 0 0 0;
  color: white;
  /* background-color: black */
  z-index: 2;
}

.left-tooltip::after {
  content: "";
  position: absolute;
  top: 8.5px;
  left: 83px;
  width: 0.5px;
  height:0.5px;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  padding: 0.5em 0 0 0;
  color: white;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}
.right-tooltip {
  position: absolute;
  top:20px;
  left:95px;
  /* border: 2px solid black; */
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 0.5em 0 0 0;
  color: white;
  /* background-color: black */
  z-index: 2;
}

.right-tooltip::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 0.5px;
  height:0.5px;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  padding: 0.5em 0 0 0;
  color: white;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}
.bottom-tooltip {
  position: absolute;
  top: 100px;
  left:-10px;
  /* border: 2px solid black; */
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 0.5em 0 0 0;
  color: white;
  /* background-color: black */
  z-index: 2;
}

.bottom-tooltip::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 40px;
  width: 0.5px;
  height:0.5px;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  padding: 0.5em 0 0 0;
  color: white;
  background-color: black;
  transform: rotate(45deg);
  z-index: -1;
}




.tooltip-facebook::after{
  background-color: #3b5a9b;
}



.none{
  display: none;
}

.show{
  display: inline;
}